<% include layouts/header %>

<div class="container">
	<h2><%= title %></h2>
	<ul class="list-group">
		<li class="list-group-item">
			<a href="/auth/google" >
				<i class="fa fa-5x fa-google-plus"></i>
			</a>
		</li>
		<li class="list-group-item">
			<a href="/auth/twitter" >
				<i class="fa fa-5x fa-twitter"></i>
			</a>
		</li>
	</ul>
</div>

<% include layouts/footer %>