<!DOCTYPE HTML>
<html>

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" href="">
		<title>Social Aggregator</title>
	</head>

	<body>
		<div class="container">
			<h2><%= title %></h2>
		</div>

	</body>
</html>
