<% include layouts/header %>

<div class="container">
	<h2><%= title %></h2>
	<ul class="list-group">
		<!-- google -->
		<li class="list-group-item">
			<a href="/auth/google" >
				<i class="fa fa-5x fa-google-plus"></i>
			</a>
		</li>
		<!-- twitter -->
		<li class="list-group-item">
			<a href="/auth/twitter" >
				<i class="fa fa-5x fa-twitter"></i>
			</a>
		</li>
		<!-- facebook -->
		<li class="list-group-item">
			<a href="/auth/facebook" >
				<i class="fa fa-5x fa-facebook"></i>
			</a>
		</li>
	</ul>
</div>

<% include layouts/footer %>